# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/AriEngine/AriEngine.vcxproj
/AriEngine/AriEngine.vcxproj.filters
/AriEngine/AriEngine.vcxproj.user
/AriEngine/Sandbox.vcxproj*
/AriEngine/Sandbox.vcxproj.filters
/AriEngine/Sandbox.vcxproj.user
/bin-int/Debug-windows-x86_64
*.user
